
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg');height:400px;">
        <iframe width="100%" height="100%" src="http://www.youtube.com/embed/AckvbL5Tfic?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/2.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="">
                            <h2 class="post-title">
                                Wasalny
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Founded since September 24, 2014</p>
                    </div>
                </div>
                <div class="info-container">
                    <span class="label">Founder</span> Ahmed Samy
                </div>
                <div class="info-container">
                    <span class="label">Co-Founder/s</span> Mohamed Hassan
                </div>
                <div class="info-container">
                    <span class="label">Rating</span> 5/10
                </div>
                <div class="info-container">
                    <span class="label">Phone #</span> 011276458953
                </div>
                <div class="info-container">
                    <span class="label">Email</span> mohamed@Wasalny.com
                </div>
                <div class="info-container">
                    <span class="label">Website</span> Wasalny.com
                </div>
                <div class="info-container">
                    <span class="label">Investors</span> Eng. Samy Tantawy
                </div>
                <div class="info-container">
                    <span class="label">Tags</span> Social Media
                </div>
                <div class="info-container">
                    <span class="label">Views</span> appears 23 time
                </div>
                <br/>

                <ul class="list-inline">
                    <span>Be in touch with us</span>
                    <li><a href="#"><img src="img/fb.png"/></a></li>
                    <li><a href="#"><img src="img/twitter.png"/></a></li>
                    <li><a href="#"><img src="img/google+.png"/></a></li>
                    <li><a href="#"><img src="img/linkedin.png"/></a></li>
                </ul>
                <style type="text/css">
                /*voting style */
                .voting_wrapper {display:inline-block;margin-top: 20px;}
                .voting_wrapper .down_button {background: url(img/thumbs.png) no-repeat;float: left;height: 14px;width: 16px;cursor:pointer;margin-top: 3px;}
                .voting_wrapper .down_button:hover {background: url(img/thumbs.png) no-repeat 0px -16px;}
                .voting_wrapper .up_button {background: url(img/thumbs.png) no-repeat -16px 0px;float: left;height: 14px;width: 16px;cursor:pointer;}
                .voting_wrapper .up_button:hover{background: url(img/thumbs.png) no-repeat -16px -16px;;}
                .voting_btn{float:left;margin-right:5px;}
                .voting_btn span{font-size: 11px;float: left;margin-left: 3px;}
                </style>
                <!-- voting markup -->
                <div class="voting_wrapper" id="XXXXXXX">
                    <span style="float: left; margin-right: 10px; margin-top:0px; font-size: 16px;">Your feedback on our services</span>
                    <div class="voting_btn">
                        <div class="up_button">&nbsp;</div><span class="up_votes">0</span>
                    </div>
                    <div class="voting_btn">
                        <div class="down_button">&nbsp;</div><span class="down_votes">0</span>
                    </div>
                </div>
                <!-- voting markup end -->
            </div>
        </div>
    </div>

    <hr>
