
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg');height:400px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Ahmed Hassan</h1>
                        <hr class="small">
                        <span class="subheading">CEO at imaginary dreams</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/4.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="post.html">
                            <h2 class="post-title">
                                Ahmed Hassan
                            </h2>
                            <h3 class="post-subtitle">
                                I'm here to help.
                            </h3>
                        </a>
                    </div>
                </div>
                <br/>
                <div class="info-container">
                    <span class="label">Rating</span> 5/10
                </div>
                <div class="info-container">
                    <span class="label">Phone #</span> text
                </div>
                <div class="info-container">
                    <span class="label">Email</span> email.website.com
                </div>
                <div class="info-container">
                    <span class="label">Website</span> website.com
                </div>
                <div class="info-container">
                    <span class="label">Invested in</span> company
                </div>
                <br/>
                <ul class="list-inline">
                    <li><a href="#"><img src="img/fb.png"/></a></li>
                    <li><a href="#"><img src="img/twitter.png"/></a></li>
                    <li><a href="#"><img src="img/google+.png"/></a></li>
                    <li><a href="#"><img src="img/linkedin.png"/></a></li>
                </ul>
                <br/>
                <div class="text-center">
                    <a href="#/request"><input type="button" class="btn btn-success btn-large" value="Request Fund"></a>
                </div>
            </div>
        </div>
    </div>

    <hr>
