
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/register-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Register</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="register-step startup text-center">
                            <a href="#/register-startup">Register as <br/><span>Startup</span></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="register-step investor text-center">
                            <a href="#/register-investor">Register as <br/><span>Investor</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
