    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>All startups</h1>
                        <hr class="small">
                        <span class="subheading">Meet your next fund.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/1.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="#/startup">
                            <h2 class="post-title">
                                Wasalny
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Founded since September 24, 2014</p>
                    </div>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/2.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="#/startup">
                            <h2 class="post-title">
                                DevTools Provider
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Founded since September 24, 2014</p>
                    </div>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/3.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="#/startup">
                            <h2 class="post-title">
                                Tanta Design
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Founded since September 24, 2014</p>
                    </div>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/1.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="#/startup">
                            <h2 class="post-title">
                                Wasalny
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Founded since September 24, 2014</p>
                    </div>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/2.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="#/startup">
                            <h2 class="post-title">
                                Wasalny
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Founded since September 24, 2014</p>
                    </div>
                </div>
                <hr>
                <div class="post-preview">
                    <div class="post-logo">
                        <img src="img/3.jpg" width="90" height="90"/>
                    </div>
                    <div class="post-preview-container">
                        <a href="#/startup">
                            <h2 class="post-title">
                                Startup Name
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Founded since September 24, 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>